services:
  mc:
    image: itzg/minecraft-server
    container_name: mc_server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
#      TYPE: "FABRIC"
      VERSION: "1.19"
      OPS: f17b4b3b-d5ad-3874-b1d7-a0f75c37a4ae
      ONLINE_MODE: "FALSE"
      DIFFICULTY: "peaceful"
      MAX_PLAYERS: "100"
    volumes:
      - ./data:/data
    networks:
      - bnnet

networks:
  bnnet:
    external: true
